html {	
	 	font-family: "Arial", Arial, "Times New Roman", serif;
		color: Black, background: Black;
}

h1 {
	color: black;
	margin: 0px;	
	background: Red;
	border: 1px solid black;
	padding: 0px;
	width: 40%;
}
form {
	background: #D8D8D8;
	border: 1px solid black;
	width: 40%;
}


fieldset {
	margin: 0px;
}

label {
	display: inline;
	text-decoration: none;
	text-align: left;
}

a {
	margin: 5px;
	padding: 5px;
	font-size: x-small;
	color: red;
}

li {
	color: Red;
	text-align: left;
}

legend {
	font-weight: bold;
	color: Red;

}

option {
	font-style: italic;	
}

span {
	color: Red;
}

p1 {
	color: red;
}